nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
img {
  width: 9%;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#navbar :hover {
  color:rgb(194, 170, 33);
  text-decoration: underline;
}


